@import url(./assets/CSS/NavBar.css);
@import url(./assets/CSS/Footer.css);
@import url(./assets/CSS/Main.css);
@import url(./assets/CSS/Contact.css);
@import url(./assets/CSS/Tickets.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ol, ul,p, h1,h2{
    margin: 0 ;
}

